.container {
  font-size: 0.8rem;
  font-weight: 300;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "filters logo"
    "table profile_card";
}

.filters {
  grid-area: filters;
  background-color: #2164B5;
  color: white;
  border-radius: 15px 15px 0 0;
  padding: $space-s;
}

.logo {
  grid-area: logo;
  font-family: "Open Sans Bold";
  font-size: 2rem;
  text-align: center;
  color: white;
  padding: $space-xs $space-s;
  text-transform:uppercase;
}

.table {
  grid-area: table;

  border-bottom-left-radius: 15px;
  overflow: hidden;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table tr th {
    color: white;
    height: 50px;
    background-color: $color-turk;
    font-weight: 400;
    padding: $space-xs 0 $space-xs $space-s;
  }

  table tr th:last-child {
    padding-left: 3rem;
    padding-right: 0.5rem;
    padding: 0 0 0 $space-s;
  }

  table tr th {
    color: white;
    background-color: $color-turk;
    font-weight: 400;
    padding: $space-xs 0 $space-xs $space-s;
  }

  table tbody tr td {
    background-color: white;
    color: $main-text-color;

    padding-top: $space-xxs;
    padding-bottom: $space-xxs;
    padding-left: $space-xs;

    cursor: pointer;
  }

  table tr:hover td, .activeRow {
    background-color: $active;
  }

  .fieldListContainer {
    display: flex;
    justify-content: right;
  }
}

.profileCard {
  grid-area: profile_card;
  background-color: $active;

  border-bottom-right-radius: 15px;
}

