@font-face {
  font-family: "Open Sans";
  src: url("../src/assets/fonts/OpenSans-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

