$active: #D8E1E5;
$color-turk: #4EB7BE;
$row-line-color: #DBE2E6;
$main-text-color: #4F4D43;

$space-xxs: 0.5rem;
$space-xs: 1rem;
$space-s: 1.8rem;
$space-l: 2.8rem;

$font-small: 0.9rem;
$font-medium: 1rem;